* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    background-color: #02f9e6;
}

h2 {
    background-color: #daf408;
}

h3 {
    background-color: #65165d;
}

p {
    background-color: #ff0081;
}

ul {
    background-color: #fe6302;
}