body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4d4e4f;
}
h1{
    background-color: cornsilk;
    text-align: center;
    margin: -8px;
    height: 45px;
}
p{
    color: cornsilk;
    margin-top: 2px;
}

.brand{
    display: block;
    border: 1px solid white;
    width: 350px;
    height: 250px;
    margin: 30px;
    padding: 30px;
    box-shadow: 0 2px 2px white;
    
}