body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    text-align: center;
    margin: -15px;
}

h1{
    display: inline-flex;
}

h2 {
    margin: 20px;
}

h3 {
    margin: 20px;
}

p {
    margin: 20px;
    line-height: 20px;
}

div {
    background-color: #e8e6e6;
     margin: -20px; 
}

.figure{
    vertical-align: -60px;
}

nav{
    background-color: #626663;
}

li{
    display: inline;
    margin: 20px;
}

a{
    color: white;
}

div{
    margin: 20px;
}

h3{
    font-size: 120%;
}

footer{
    font-size: 80%;
    background-color: #ec008c;
    margin-left: -5px;
}